body {
  font-family: "Roboto", sans-serif;
}

.coin-container {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
}

.coin-row {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 5px;
  margin-bottom: 3em;
}

.coin-row-header {
  display: flex;
  margin-bottom: 0.5em;
}

.coin-row-header h1 {
  text-align: start;
  margin: 0.4em 0em;
  font-size: 20px;
  text-transform: uppercase;
  color: gold;
}

.coin-row-header img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* .userPrice-input {
  margin-left: 5em;
  width: 8em;
  border: none;
} */

.coin-logo {
  margin-top: 0.2em;
}

.coin-symbol {
  text-transform: uppercase;
  margin-left: 1em;
  margin-top: 0.3em;
}

/* .coin-header-button {
  padding: 5px 12px;
} */
.coin-add-button {
  padding: 5px 12px;
}

.coin-remove-button {
  padding: 5px 13px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}

.coin-price {
  flex-direction: row;
  /* padding-top: 0.75em; */
  height: 0em;
}

.coin-volume {
  width: 220px;
}

.coin-marketcap {
  width: 260px;
}

.coin-percent {
  width: 90px;
  padding-top: 0.75em;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(15, 197, 15);
}

@media (max-width: 700px) {
  /* .coin {
    display: flex;
    flex-direction: column;
  } */
  .coin-row-header h1,
  p {
    font-size: 0.7rem;
  }
  p {
    padding: 1px;
  }

  /* .userPrice-input {
    margin-left: 1em;
    width: 5.5em;
    border: none;
  } */

  .coin-price {
    width: max-content;
    margin-right: 7px;
    padding-top: 0em;
  }
  .coin-volume {
    width: max-content;
  }
  .coin-percent {
    width: max-content;
    padding-top: 0;
  }
  .coin-marketcap {
    width: max-content;
    margin-left: 5px;
  }
}
