@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains+Mono:wght@100", sans-serif;
  background-color: #0b0425;
  color: rgb(113, 67, 219);
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: gold;
}

.coin-search {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-transform: uppercase;
  color: gold;
}

.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: aliceblue;
}

.coin-input::placeholder {
  color: aliceblue;
}

@media (max-width: 670px) {
  .coin-input {
    width: 250px;
  }
  .coin-text {
    font-size: 1.25em;
  }
}
