body {
  font-family: "Roboto", sans-serif;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100px;

  width: 90%;
  padding: 5px;
  margin-bottom: 2em;
}

.coin {
  display: flex;
}

.coin h1 {
  text-align: start;
  margin: 0.4em 0em;
  /* margin-top: 2em; */
  font-size: 20px;
  text-transform: uppercase;
  color: gold;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.counter-button {
  height: 2.2em;
  width: 2em;
  color: gold;
  border: none;
}

.counter-input {
  margin-left: 1em;
  width: 1.75em;
  border: none;
}

.coin-img {
  margin-top: 0.2em;
}

.coin-symbol {
  text-transform: uppercase;
  margin-left: 1em;
  margin-top: 0.3em;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}

.coin-price {
  width: 130px;
  /* display: flex; */
  flex-direction: row;
}

.coin-volume {
  width: 220px;
}

.coin-marketcap {
  width: 260px;
}

.coin-percent {
  width: 90px;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(6, 179, 6);
}

@media (max-width: 670px) {
  .coin h1,
  p {
    font-size: 0.7rem;
  }
  p {
    padding: 1px;
  }
  .coin-price {
    width: max-content;
    margin-right: 7px;
  }
  .coin-volume {
    width: max-content;
  }
  .coin-percent {
    width: max-content;
  }
  .coin-marketcap {
    width: max-content;
    margin-left: 5px;
  }
}
