.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  flex-direction: column;
  display: flex;
  justify-items: start;
  align-items: center;
  height: 100px;
  /* border-bottom: 2px solid goldenrod; */
  width: 90%;
  padding: 5px;
  margin-bottom: 2em;
}

.coin {
  display: flex;
  margin-right: 50px;
  min-width: 200px;
}

.coin h1 {
  text-align: start;
  margin-bottom: auto;
  font-size: 18px;
  text-transform: uppercase;
  /* margin-right: 150px; */
  color: gold;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.coin-symbol {
  text-transform: uppercase;
  margin-left: 1em;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 95%;
}

.coin-price {
  width: 130px;
}

.coin-volume {
  width: 220px;
}

.coin-marketcap {
  width: 260px;
}

.coin-percent {
  width: 90px;
}

.red {
  color: rgb(255, 0, 0);
}

.green {
  color: rgb(6, 179, 6);
}

@media (max-width: 670px) {
  /* h1 {
    font-size: 30px;
  } */
  .coin h1,
  p {
    font-size: 0.6rem;
  }
  p {
    padding: 1px;
  }
  .coin-price {
    width: 75px;
    margin-right: 7px;
  }
  .coin-volume {
    width: 120px;
  }
  .coin-percent {
    width: 50px;
  }
  .coin-marketcap {
    width: 150px;
    margin-left: 5px;
  }
}
